<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>冫Soul丶</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/fontAwesome.css">
    <link rel="stylesheet" href="css/hero-slider.css">
    <link rel="stylesheet" href="css/owl-carousel.css">
    <link rel="stylesheet" href="css/templatemo-style.css">
    <link rel="stylesheet" href="css/lightbox.css">

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>

<body>
<div class="header">
    <div class="container">
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse"
                        data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand scroll-top"><em>冫S</em>oul丶</a>
            </div>
            <!--/.navbar-header-->
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#" class="scroll-top">灵魂</a></li>
                    <li><a href="#" class="scroll-link" data-id="about">关于我</a></li>
                    <li><a href="#" class="scroll-link" data-id="portfolio">生活圈</a></li>
                    <li><a href="#" class="scroll-link" data-id="blog">我的学校</a></li>
                    <li><a href="#" class="scroll-link" data-id="contact-us">联系我</a></li>
                </ul>
            </div>
            <!--/.navbar-collapse-->
        </nav>
        <!--/.navbar-->
    </div>
    <!--/.container-->
</div>
<!--/.header-->


<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="text-content">
            <h2>因为 <span>梦想</span> ,选择 <em> <i>远方</i></em></h2>
            <br>
            <h3 style="margin-left: 15% ;color: #fff">——因为<span style="color:salmon"> 无所依靠，</span>所以<em
                    style="color: rgba(255,138,155,0.74)">必须坚强</em></h3>
            <br>
            <div class="primary-white-button">
                <a href="login">开始灵魂之旅</a>
            </div>
        </div>
    </div>
</div>


<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/service_icon_01.png" alt="">
                    </div>
                    <h4>我</h4>
                    <div class="line-dec"></div>
                    <p>
                        我曾为时光匆匆流逝而遗憾，曾为生命如此短暂而感伤，曾为花草树木的调残而惆怅，曾为生活的坚信而彷徨，当情海思绪积压我心头的时候，我想寻找一叶扁舟，在大海上游荡，让思绪尽情的释放，岁月极美，在于它必然流逝！</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">抬起头</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/service_icon_02.png" alt="">
                    </div>
                    <h4>爱好</h4>
                    <div class="line-dec"></div>
                    <p>
                        动静皆宜，习惯独处，但也热衷于参加各种群体活动。安静的时候，静若止水，冷敛而深沉。闲暇之余，喜欢写写文字，听听音乐，在字里行间梳理自己或喜或悲的情绪和情感；玩的时候，热情如火，率性而疯狂！</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">继续走</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/service_icon_03.png" alt="">
                    </div>
                    <h4>过去</h4>
                    <div class="line-dec"></div>
                    <p>我想起月圆之夜，我们走在皎洁的月光里，头上披着白云，随便的用你的长手臂挽着我的肩膀，说些无关紧要的话。你腿长步子大，可是我们竟然惊人的步调一致。你说过，我们搭调。就这样踏月而忘返！</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">是未来</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="img/service_icon_04.png" alt="">
                    </div>
                    <h4>以后</h4>
                    <div class="line-dec"></div>
                    <p>
                        我一直以为，幸福在远方，在可以追逐的未来。后来才发现，那些拥抱过的人，握过的手、唱过的歌、流过的泪、爱过的人、所谓曾经，就是幸福。在无数的夜里，说过的话、打过的电话，思念过的人、流过的眼泪，一切成为了永恒!</p>
                    <div class="primary-blue-button">
                        <a href="#" class="scroll-link" data-id="portfolio">也是过去</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio">
    <div class="content-wrapper" id="div1" align="center">
        <div class="inner-container container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="section-heading">
                        <h4>生活圈</h4>
                        <div class="line-dec"></div>
                        <p>生活里，有喜有悲，有欢声也有泪水。我们应该是生活充满色彩，充满欢乐，这是我们的责任，也是我们的本能！.</p>
                        <div class="filter-categories">
                            <p>
                                满天的星，
                                <br>
                                颗颗说是永远的春花。
                                <br>
                                东墙上海棠花影，
                                <br>
                                簇簇说是永远的秋月。
                                <br>
                                清晨醒来是冬夜梦中的事了。
                                <br>
                                昨夜夜半的星，
                                <br>
                                清洁真如明丽的网，
                                <br>
                                疏而不失，
                                <br>
                                春花秋月也都是的，
                                <br>
                                子非鱼安知鱼。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="projects-holder-3">
                        <div class="projects-holder">
                            <div class="row">
                                <div class="image" style="float: left;margin-left: 30px">
                                    <a href="img/1552717876708.jpeg" data-lightbox="image-1"><img
                                            src="img/1552717876708.jpeg"></a>
                                </div>

                                <div class="image" style="float: left ;margin-left: 30px">
                                    <a href="img/1552717856915.jpeg" data-lightbox="image-1"><img
                                            src="img/1552717856915.jpeg"></a>
                                </div>

                                <div class="image" style="float: left;margin-left: 30px">
                                    <a href="img/1552717801513.jpeg" data-lightbox="image-1"><img
                                            src="img/1552717801513.jpeg"></a>
                                </div>

                                <div class="image" style="float: left;margin-left: 30px">
                                    <a href="img/IMG_20180418_181555.jpg" data-lightbox="image-1"><img
                                            src="img/IMG_20180418_181555.jpg"></a>
                                </div>

                                <div class="image" style="float: left;margin-left: 30px">
                                    <a href="img/IMG_20180217_182941.jpg" data-lightbox="image-1"><img
                                            src="img/IMG_20180217_182941.jpg"></a>
                                </div>

                                <div class="image" style="float: left;margin-left: 30px">
                                    <a href="img/portfolio_item_06.jpg" data-lightbox="image-1"><img
                                            src="img/portfolio_item_06.jpg"></a>
                                </div>

                                <div class="image" style="float: left;margin-left: 30px">
                                    <a href="img/1552717819362.jpeg" data-lightbox="image-1"><img
                                            src="img/1552717819362.jpeg"></a>
                                </div>

                                <div class="image" style="float: left ;margin-left: 30px">
                                    <a href="img/1552717900574.jpeg" data-lightbox="image-1"><img
                                            src="img/1552717900574.jpeg"></a>
                                </div>

                                <div class="image" style="float: left;margin-left: 30px">
                                    <a href="img/1552717844349.jpeg" data-lightbox="image-1"><img
                                            src="img/1552717844349.jpeg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ 我不是垂暮的老人，我是即将远行的故人，望一望过去，念一念当初，整装继续前行。 ”</p>
                            <h4>垂暮</h4>
                            <span>前行</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ 蔷薇开出的花朵没有芬芳、想念一个人、怀念一段伤、不流泪、不说话。”</p>
                            <h4>蔷薇</h4>
                            <span>思念</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ 我还是会相信，星星会说话，石头会开花，穿过夏天的栅栏和冬天的风雪过后，你终会抵达。 ”</p>
                            <h4>信念</h4>
                            <span>抵达</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ 草在结它的种子，风在摇它的叶子，听，生命在跳，我们这样站着不说话就十分美好。
                                ”</p>
                            <h4>生命</h4>
                            <span>美好</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="tabs-content" id="blog">
    <div class="container">
        <div class="row">
            <div class="wrapper">
                <div class="col-md-4">
                    <div class="section-heading">
                        <h4>我的学校</h4>
                        <div class="line-dec"></div>
                        <p> 微笑重逢那天，正是我见你之时</p>
                        <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                            <li><a href="#tab1" class="active">它的过去</a></li>
                            <li><a href="#tab2">给予我</a></li>
                            <li><a href="#tab3">同窗</a></li>
                            <li><a href="#tab4">美好</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="img/IMG_20180421_075517.jpg" alt="">
                            <div class="text-content">
                                <h4>贵州民族大学</h4>
                                <span><a href="#">soul丶记</a> / <a href="#">March</a> / <a
                                        href="#">2019年 3月 16日</a></span>
                                <p>
                                    创建于1951年5月17日，是新中国创建最早的民族院校之一，隶属贵州省人民政府，是贵州省重点建设的高校，是贵州省人民政府和国家民委共建高校，是教育部本科教学工作水平评估优秀高校。</p>
                            </div>
                        </div>
                        <div id="tab2">
                            <img src="img/IMG_20180518_200046.JPG" alt="">
                            <div class="text-content">
                                <h4>那年、那时、那刻</h4>
                                <span><a href="#">soul丶记</a> / <a href="#">March</a> / <a
                                        href="#">2019年 3月 16日</a></span>
                                <p> 新学年的到来，忙坏了为开学做准备的孩子和家长们，欢快热闹的开学气氛弥漫着大街小巷、校园内外。书店里，学习用品商店里，熙熙攘攘</p>
                            </div>
                        </div>
                        <div id="tab3">
                            <img src="img/IMG_20180627_155153.JPG" alt="">
                            <div class="text-content">
                                <h4>你们</h4>
                                <span><a href="#">soul丶记</a> / <a href="#">March</a> / <a
                                        href="#">2019年 3月 16日</a></span>
                                <p>不管怎么样，你都不要放弃希望，只要相信期待就会成真，无论碰到什么挫折，只要坚持下去，就会如愿以偿。</p>
                            </div>
                        </div>
                        <div id="tab4">
                            <img src="img/IMG_20180626_192938.JPG" alt="">
                            <div class="text-content">
                                <h4>雨、暮、絮、月、筝、水、花</h4>
                                <span><a href="#">soul丶记</a> / <a href="#">March</a> / <a
                                        href="#">2019年 3月 16日</a></span>
                                <p>云雨初收，暮天烟淡，风絮飘城，纷乱了谁的浮生？飞花碎月，月落乌啼，筝萧长叹，剜痛了谁的心扉？秦淮笙歌歇，江南烟雨茫，流年错乱，镜花朦胧，水月破碎，殒寂了谁的繁华？</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h4>联系我</h4>
                    <div class="line-dec"></div>
                    <p>伤心和委屈的时候，要嚎啕大哭。哭完洗完脸，拍拍自己的脸，挤出一个微笑给自己看。不要揉，否则第二天早上会眼睛肿</p>
                    <div class="pop-button">
                        <h4>告诉我，关于你</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="pop">
                    <span>✖</span>
                    <form id="contact" action="#" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="name" type="text" class="form-control" id="name"
                                           placeholder="你的名字..." required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="email" type="email" class="form-control" id="email"
                                           placeholder="你的邮箱..." required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message"
                                              placeholder="关于你..." required=""></textarea>
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="btn">发送</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="logo">
                    <a href="#" class="scroll-top"><em>冫S</em>oul</a>
                    <p>Soul丶 &copy; 2019 年 3 月</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="location">
                    <h4>地址</h4>
                    <ul>
                        <li>http://<br>www.xymate.com</li>
                        <li>http://<br>106.12.27.242</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="contact-info">
                    <h4>更多</h4>
                    <ul>
                        <li><em>Phone</em>: 155-9912-7451</li>
                        <li><em>Email</em>: 437665122@qq.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2 col-sm-12">
                <div class="connect-us">
                    <h4> 联系方式</h4>
                    <ul>
                        <li><a href="#" target="_parent"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#o" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="js/vendor/jquery-1.11.2.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

<script src="js/vendor/bootstrap.min.js"></script>

<script src="js/plugins.js"></script>
<script src="js/main.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        // navigation click actions 
        $('.scroll-link').on('click', function (event) {
            event.preventDefault();
            var sectionID = $(this).attr("data-id");
            scrollToID('#' + sectionID, 750);
        });
        // scroll to top action
        $('.scroll-top').on('click', function (event) {
            event.preventDefault();
            $('html, body').animate({scrollTop: 0}, 'slow');
        });
        // mobile nav toggle
        $('#nav-toggle').on('click', function (event) {
            event.preventDefault();
            $('#main-nav').toggleClass("open");
        });
    });

    // scroll function
    function scrollToID(id, speed) {
        var offSet = 50;
        var targetOffset = $(id).offset().top - offSet;
        var mainNav = $('#main-nav');
        $('html,body').animate({scrollTop: targetOffset}, speed);
        if (mainNav.hasClass("open")) {
            mainNav.css("height", "1px").removeClass("in").addClass("collapse");
            mainNav.removeClass("open");
        }
    }

    if (typeof console === "undefined") {
        console = {
            log: function () {
            }
        };
    }
</script>
</body>
</html>