<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/loginStyle.css">
    <link rel="stylesheet" type="text/css" href="css/stylesLogin.css">
    <link rel="stylesheet" type="text/css" href="css/templatemo-style.css">
    <link rel="stylesheet" type="text/css" href="css/sweetalert2.min.css">
</head>
<body>
<span id="flag" th:text="${flag}" hidden>false</span>
<div class="x-mark">
    <div class="container">
        <div class="left"></div>
        <div class="right"></div>
    </div>
</div>
<div class="intro-container">
    <br>
    <h2 style="color: #ffffff;font-size: 30px">
        对
        <em style="font-size: 50px">我</em>
        来说
        <br>
        <br>
        <em style="color:#f89624 ;font-size: 40px">
            风光无限
        </em>
        的是你
        <br>
        <br>
        跌落尘埃的
        <em style="color: rgba(105,153,217,0.98);font-size: 35px">是你
        </em>
        <br>
        <br>
        <em style="color: rgb(250,128,114)">重点是
        </em>你
        <br>
        <br>
        而不是
        <em style="color:#6999d9;font-size: 50px">怎样的你</em>
    </h2>
    <br>
    <div class="button shift-camera-button">
        <div class="border">
            <div class="left-plane"></div>
            <div class="right-plane"></div>
        </div>
        <div class="text">欢迎</div>
    </div>
</div>
<div class="sky-container " style="margin-right: 15%">
    <div class="container">
        <em style="font-size: 40px">登录</em>
        <form class="form">
            <input type="text" name="name" id="name" placeholder="英雄名称" style="color: #0f0f0f">
            <input type="text" name="appellation" id="appellation" placeholder="英雄称号" style="color: #0f0f0f">
            <div class="button shift-camera-button">
                <div class="border">
                    <div class="left-plane"></div>
                    <div class="right-plane"></div>
                </div>
                <a class="text" style="text-decoration: none;color: #717171">
                    登录
                </a>
            </div>
        </form>
    </div>
</div>

<script src="js/sweetalert2.min.js"></script>
<script src="js/jrj6out.js"></script>
<script src="js/prefixfree.min.js"></script>
<script src='js/jquery.min.js'></script>
<script src='js/TweenMax.min.js'></script>
<script src='js/three.min.js'></script>
<script src="js/index.js"></script>
<script src="js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/es6-promise/latest/es6-promise.min.js"></script>
<script>
    var flag = $("#flag").text();
    if(flag == 'error'){
       alert("你还没登陆，不能访问main")
    }
    $("a").on("click", function () {
        $.ajax({
            url: "/loginSubmit",
            type: "post",
            data: {
                name:$("#name").val(),
                appellation:$("#appellation").val()
            },
            success: function f(data) {
                console.log(data);
                window.location.href = "/getPage";
            },
            error: function f(data) {
                console.log(data);
            },
        })
    });

</script>
</body>
</html>
