body{       
    margin-top: 65px;   
}   

a{
    font-size: 20px;
}

li{
    padding: 10px;
}

.col-md-2{      
    background-color: #ccc;
    height: auto; 
} 

.list-group{    
    padding-left: 0;  
}  

.progress{  
    margin-top: 15px; 
}

.list-group-item{
    border:none;
}

#panel-group{    
    margin-top: 20px;
    background: #00ACED;
}  

#onebtn{    
    margin: 10px 0; 
}  

#btngroup button{ 
    width: 100%;    
}  

#left-content{ 
    margin-top: 20px;  
} 

#web_title{
    font-size: 40px;
}   


